body {
    background-color: pink;
}

.equation {
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: rgb(80, 6, 67);
    padding: 1cm;

}

.button {
    padding: 0.5cm;
    display: flex;
    align-items: center;
    justify-content: center;
}

#makepop {
    background-color: rgb(250, 204, 240);
    font-size: medium;
    font-weight: bold;
    border-width: 3px;
    border-color: black;
}

#parameters {
    border-width: 3 px;
    border-color: black;
}

#b1, #b0, #sigma {
    font-size: large;
    border-width: 3 px;
    border-color: black;
}

label {
    font-size: large;
}

